nlevels=3
dimension=20
# testing for backtracking
level=1
map=	
xx    xx  xxxxxxxxxx
x   r     x        x
x   x     x        x
x2  x     x        x
xxxxx  xxxxxxx    xx
xr      r   x       
xxxrr   x   r   r   
x       r       r  x
xr  rr          r  x
    r       rrr rr x
x   r       rr  rrrr
x   r       r   rrrr
x                xxx
x    xxx x  xx  xxxx
r     rrrrr  rrrrr  
r     r      r   r  
r     rrrrr  r S r  
r     r      r   r  
rrrrr rrrrr  rrrrr  
xxxxxxxxxxxxxxxxxxxx

dimension=20
# testing for backtracking
level=2
map=
xx    xx  xxxxxxxxxx
 rr r rr  x    rr 1x
 r  x     x rrr    x
  rrrr    xrrr     x
xx  x   xxxxxxx   xx
x       r  x        
x   x   r       r  x
xB  rr      rr  r  x
x   xx  xxx        x
    x   xx  rr  rr x
           rrr r   x
    r              x
x   x  x    xxxx   r
 r r    r    rrr    
r r r   r   r   r   
r   r   r   rrrrr   
r   r   r   r   r   
x         xxxx      
3         rrrrrr   x
xxxxxxxxxxxxxxxxxxxx


dimension=20
# testing for backtracking
level=3
map=
xx    xx  xxxxxxxxxx
              x     
    r    rrrrr     x
    r     rrrr     x
xx  xrr xxxxxxx   xx
x2      xxxx        
x    rrrr   rrrr  xx
    xx    x        x
    x     xxx      r
    x     x     xxxx
    x     x xxx   xx
    x        r      
x   rrr      x    xx
xrrrrx x     x   x  
xxrrrr    rr x r    
rrrxx    x x rrr rrx
  rrr rxxx     x   x
xrr      x  x  x   x
xr    x     x     Vr
xxxxxxxxrrrrrrrrrrxx