nlevels=2
dimension=8
# testing for backtracking
level=1
map=
xxxxxxxx
xrr     
x rx xxx
x x  x x
x  xx  x
x     2x
x   rrrx
xxxxXxxx
level=2
dimension=12
# testing for large obstacles
map=
xxxxxxxxxxxx
x        1x
  xxxxxxxxxx
x          x
xxxxxxxxx   
x    x     x
xxx        x
x x  x     x
x x  x     x
    xx  rSrx
xV  x   rrrx
Bx x  xxxxxx